* {
    color: #313638;
  }
  
  .content {
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(#F7C040, #66B2FF);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .menu-icon {
    max-height: 30px;
  }
  
  .search-icon {
    max-height: 30px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .banner {
    height: 400px;
    width: 900px;
    border-radius: 10px;
  }

  .card {
    margin: 20px;
    width: 800px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    row-gap: 15px;

  }

  iframe {
    width: 800px;
    height: 400px;
  }

  .bold {
    font-weight: bold;
  }
  
  
@media (min-width: 651px) and (max-width: 950px) {
  .banner {
    height: 300px;
    width: 600px;
  }

  .card {
    width: 600px;
  }

  iframe {
    width: 600px;
    height: 300px;
  }
}


@media (max-width: 650px) {

  .banner {
    height: 200px;
    width: 350px;
  }

  .card {
    width: 350px;
  }

  iframe {
    width: 380px;
    height: 300px;
  }

}