<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RJBTUR</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app" class="content">
    <header>
      <h1 class="d-none">RJBTUR</h1>
      <img src="/assets/icons/menu-icon.svg" class="menu-icon" alt="icone de menu">
      <img src="/assets/images/logo-rjbtur-removebg-preview.png" alt="Logo rjbtur" title="logo rjbtur">
      <img src="/assets/icons/search-icon.svg" class="search-icon" alt="icone de procura">
    </header>
    <main class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <h2 class="text-center">Adicionar evento</h2>

        <div class="alert alert-success" v-show="successMessage" v-html="successMessage"></div>

        <div class="alert alert-danger"
          v-for="(error, index) in errors" :key="index">{{error}}</div>
        <form class="d-flex flex-column mx-4 form-inputs" @submit.prevent ref="form">
          <label class="form-label my-0" for="name">Nome</label>
          <input id="name" name="name" type="text"
            placeholder="Nome do evento"
            class="form-control"
            v-model="event.name">

          <label class="form-label my-0" for="description">Descrição</label>
          <textarea name="description" id="description" cols="30" rows="5"
            class="form-control"
            placeholder="Descrição do evento"
            v-model="event.description"></textarea>

          <select name="category" id="category" class="form-select"
            v-model="event.category">
            <option selected disabled value="">Categoria do evento</option>
            <option v-for="(option, index) in categoryOptions" :value="option" :key="index">{{option}}</option>
          </select>

          <input type="date" class="form-control" v-model="event.date">

          <button class="btn btn-primary" @click="createEvent">Confirmar criação</button>
        </form>
      </div>


    </main>
  </div>
  <script>
    const app = {
      data() {
        return {
          event: {
            name: '',
            description: '',
            category: '',
            date: ''
          },
          categoryOptions: ['Feira', 'Conferência', 'Show'],
          errors: []
        }
      },
      methods: {
        createEvent() {
          this.errors = [];
          if (this.event.name.length < 4) this.errors.push('O evento deve ter um nome com mais de 4 digitos.');
          if (this.event.description.length < 10) this.errors.push('O evento deve ter uma descrição com mais de 10 digitos.');
          if (!this.event.category) this.errors.push('O evento deve ter uma categoria.');
          if (!this.event.date) this.errors.push('O evento deve ter uma data.');

          if (this.errors.length) return;

          this.saveEvent(this.event);
        },
        saveEvent(event) {
          let events = this.getCurrentEvents();
          event.id = Date.now();
          events.push(event);

          this.setCurrentEvents(events);
          this.setSuccessMessage(event);
          this.clearInputs();
          setTimeout(() => this.redirectToEvent(), 600);
        },
        setSuccessMessage(event) {
          this.successMessage = `Evento <b>${event.name}</b> criado!`;
        },
        redirectToEvent() {
          //
        },
        getCurrentEvents() {
          const unparsedEvents = localStorage.getItem('events');

          if (!unparsedEvents) return [];

          return JSON.parse(unparsedEvents);
        },
        setCurrentEvents(events) {
          localStorage.setItem('events', JSON.stringify(events));
        },
        clearInputs() {
          this.event = {
            name: '',
            description: '',
            category: '',
            date: ''
          }
        }
      }
    };

    Vue.createApp(app).mount('#app');
  </script>
</body>
</html>