* {
    color: #313638;
  }
  
  .content {
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(#F7C040, #66B2FF);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .menu-icon {
    max-height: 30px;
  }
  
  .search-icon {
    max-height: 30px;
  }

  #search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .form-control {
    width: 50%;
  }
  
  .pontos-turisticos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .ponto-turistico {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ponto-title {
    position: absolute;
    font-size: 2em;
  }
  
  .ponto-title * {
    margin: 0;
  }
  
  .ponto-turistico img {
    width: 90%;
    border-radius: 10px;
  }

@media (max-width: 600px) {

  .form-control {
    width: 70%;
  }
  
  .pontos-turisticos {
    margin-left: 0;
    margin-right: 0;
  }
  
}