* {
  color: #313638;
}

.content {
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(#F7C040, #66B2FF);
  padding-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-icon {
  max-height: 40px;
}

.search-icon {
  max-height: 40px;
}

.service-categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title {
  position: absolute;
  font-size: 2em;
}

.service-title * {
  margin: 0;
}

.service-category img {
  width: 90%;
  border-radius: 10px;
}

.secondary-search-input {
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.secondary-search-input input {
  width: 30%;
}

.form-inputs {
  gap: 14px;
}

.form-inputs input, select {
  min-height: 34px;
}

@media (min-width: 600px) {
  .service-category img {
    width: 90%;
  }

  .service-categories {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 960px) {
  .search-icon {
    visibility: hidden;
  }

  .secondary-search-input {
    visibility: visible;
  }

  .service-category img {
    width: 90%;
  }

  .service-categories {
    margin: 0 15%;
  }
}